:root {
    --couleur-1: #50514F;
    --couleur-2: #56A3A6;
    --couleur-3: #FF785A;
    --couleur-4: #FFFCFF;
  
    --font-principale: 'Poppins', sans-serif;
    --font-secondaire: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
body {
    font-family: var(--font-principale);
    background-color: var(--couleur-4);
    color: var(--couleur-1);
    margin: 0;
    padding: 0;
}
  
h1, h2, h3 {
    font-family: var(--font-secondaire);
    color: var(--couleur-1);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */

header {
    background-color: var(--couleur-3);
    display: flex;
    align-items: center;
    padding:20px 50px;
    justify-content: space-between;
}

.header_title {
    font-size: 20px;
    color: var(--couleur-4);
}

.header_logo {
    height: 60px;
    text-align: center;
}

.header_connexion {
    display: flex;
    flex-direction: row;
}

.header_connexion_logo {
    fill: white;
    width: 40px;
    height: 40px;
}

.header_connexion_text {
    color: white;
}

/* Gestionnaire */

.gestionnaire {
    width: 45%;
    margin: 20px;
    border: 2px solid var(--couleur-1);
    border-radius: 5px;
}

.section_title {
    color: var(--couleur-4);
    margin: 0px;
}

.gestionnaire_head {
    background-color: #50514F;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.gestionnaire_btn {
    font-size: 20px;
    margin-left: 50px;
    background-color: var(--couleur-4);
    color: var(--couleur-3);
    border-radius: 5px;
    padding: 5px 10px;
}

.gestionnaire_btn:hover {
    border-bottom:var(--couleur-3);
    background-color: var(--couleur-3);
    color: black;
}

.gestionnaire_form {
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.active_form {
    display: flex;
}

.form_input {
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
}


.form_label {
    margin: 10px;
    width: 30px;
}

/* List */

.list {
    width: 45%;
    margin: 20px;
    border: 2px solid var(--couleur-1);
    border-radius: 5px;
    display: none;
}

.active_list {
    display: flex;
}