@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Playfair+Display:wght@600&display=swap');

:root {
  --couleur-1: #50514F;
  --couleur-2: #56A3A6;
  --couleur-3: #FF785A;
  --couleur-4: #FFFCFF;

  --font-principale: 'Poppins', sans-serif;
  --font-secondaire: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {

  font-family: var(--font-principale);
  color: var(--couleur-1);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-secondaire);
  color: var(--couleur-1);
}

.connexion_client_section {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.connexion_client_section img {
  width: 60px;
  color: var(--couleur-1);
}

.connexion_client_section h1 {
  text-align: left;
  font-size: 28px;
}

.connexion_client_form {
  text-align: left;
  margin-bottom: 15px;
}

.connexion_client_creercompte {
  font-size: 13px;
  text-align: end;
  margin: 5px;
}

.connexion_client_form .connexion_client_button {
  float: right;
}

input[type="email"],
input[type="id"],
.password,
.nom,
.prenom,
.identifiant {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--font-principale);
}

.nom {
  width: 90%;
}

.connexion_client_button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.connexion_client_password {
  position: relative;
  margin-top: 10px;
}

.user_account_section {
  text-align: center;
}

.user_nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Ajuste l'espace entre les éléments */
}

.user_nav ul li {
  display: inline-block;
}

.user_nav ul li a {
  text-decoration: none;
  color: var(--couleur-1);
  font-weight: bold;
  padding: 10px 15px;
}

.welcome_message {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--couleur-1);
  margin-top: 10px;
}

/* header */

/* Ajout de Flexbox pour le header */
header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--couleur-3);
}

/* Pour les éléments du menu de navigation */
header div {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  margin-right: 20px;
  margin-left: 20px;
}


/* Pour les icônes */
header .icones {
  display: flex;
  align-items: center;
}

.size-logo {
  width: 125.125px; /* Définit la largeur exacte de l'image */
  height: auto; /* Conserve les proportions de l'image */
}

.logo {
  width: auto;
  height: auto;
  display: inline-block; /* Assure que l'élément prend uniquement la place nécessaire */
}