@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Playfair+Display:wght@600&display=swap');

:root {
  --couleur-1: #50514F;
  --couleur-2: #56A3A6;
  --couleur-3: #FF785A;
  --couleur-4: #FFFCFF;

  --font-principale: 'Poppins', sans-serif;
  --font-secondaire: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  
  font-family: var(--font-principale);


  color: var(--couleur-4);
  margin: 0;
  padding: 0;
 


}

header {

background-color: var(--couleur-4);
border-bottom: solid 4px var(--couleur-2);
width: 100%;
height: 30%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0;

}

header ul li {

font-size:35px;



}


footer {
  border-top: solid 3px var(--couleur-2);

  background-color: var(--couleur-4);
  width: 100%;
  height: 15%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;


}



h1,
h2,
h3 {
  font-family: var(--font-secondaire);
  color: var(--couleur-3);
}


ul {



  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content:center;
  font-size: 30px;
  font-family: var(--font-secondaire);
  color: #FF785A;

}


li {

  padding:  0 50px;


}



.svg {

display: flex;
justify-content: flex-start;





}

.icones {


display: flex;
flex-direction: row;
justify-content: flex-end;




}

.icone {


  color: var(--couleur-3);
  font-size: 40px;
  padding: 10px 30px;

  
}



.conditions {

display: flex;
justify-content: right;



}

.conditions ul {

font-size: 20px;


}

.copyright {

display: flex;
flex-direction: row;

}

.copyright p {


color: var(--couleur-3);


}





nav {
  
  
  margin: 0;
  padding: 20px 0;
  background: var(--couleur-1);
  list-style-type: none;
  border: 0;
  width: 16%;

  display: flex;
  flex-direction: column;
  


  }
   
 nav ul {

  display: flex;
  flex-direction: column;
  left: auto;

 }

 nav ul li {

color: var(--couleur-4);
font-size: 20px;


 }

 a:hover{

opacity: 0.2;
transition: 0.5s ease;


 }

 hr {

border: solid 1px var(--couleur-2);
 }





.chaussures {


display: grid;
grid-template-columns: 1fr 1fr 1fr;
float: right;
margin: 20px 120px;


}
/*

.chaussures img:hover {

  transform: scale(1.2);
  transition: 0.5s ease;

}

*/



.diapo {




background-image: url(/img/wall.jpg);
padding: 50px 0;


}


.slide {

  margin-left: 300px;
width: 600px;
height: 600px;

}


.desc {


display: flex;
justify-content: center;
background-size: cover;
margin-right: 400px;

}


.desc h2 {

margin-left: 20px;
font-size: 50px;
color: var(--couleur-4);


}
/*
table {

  border-bottom: solid 4px var(--couleur-2);
background-color: var(--couleur-4);
width: 100%;
height: 60px;

}

th {

background: repeating-linear-gradient(-45deg ,var(--couleur-4) 10% , var(--couleur-3) 90%);




}*/



aside {

margin-top:100px;

}